//colors
$primary: #b99c56;
$secondary: #968a7c;
$dark: #3c3a33;

$red: #9a0e20;
$brown: #706049;
$sandybrown: #e2d8c0;
$blue: #becdd4;
$green: #b0cc9d;
$violet: #c3b4c7;
$pink: #e9bdd9;

$white: #fff;

//fonts
$dinpro: 'DINPro', sans-serif;
$charterC: 'CharterC', sans-serif;

//font-size
$mainFontSize: 1vw;
$text: 1.2rem;
$text-small: 1rem;
$text-big: 2.4rem;
